.float_button_container{
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.float_button_container span{
    background-color: #242259;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    color: white;
    top: -5px;
    left: -5px;
}

.float_button_container button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: #7965BF;
    padding: 1em;
    cursor: pointer;
    
}

.float_button_container button svg{
    color: white;
    font-size: 1.5em;
}