.input_container{
    display: flex;
    width: 30%;
    margin-right: 1em;
    align-items: center;
}

.input_container label{
    margin-right: .3em;
    color: #bbb;
}

.input_container input{
    width: 100%;
    outline: none;
    padding: .5em;
    border: 1px solid #242259;
    background-color: #F2F2F2;
}

.input_container input[type='number']{
    width: 30%;
}